.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  width: 100%;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}
/* inizio style personale seba */
@media screen and (min-width:769px) and (max-width:1200px) {
h1 {
color: blue;
font-size: 3em;

}

}
@media screen and (max-width:700px) {
  h1{
  font-size: 4em;
  color: orange;
  padding: 5%;
  }
  h3 {
    font-size: 2em;
    color: orange;
    padding:5%;
  }
  p {
  color: dodgerblue;
  font-size: 2em;
  padding: 5%;
  }
}

@media screen and (min-width:1000px) {
p, h3 {
padding: 5%;
font-size:1.2em;
}
h1 {
padding: 5%;
}

}
